<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.donteatalone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />

    <application
        android:name="com.app.donteatalone.MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme1">

        <activity android:name=".views.tutorial.TutorialActivity">
        </activity>
        <activity android:name=".views.login.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.register.RegisterActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".views.main.MainActivity"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:name=".views.main.blog.StatusActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".views.main.require.main_require.on_require.ProfileAccordantUser"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".views.main.blog.DetailBlogActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.main.profile.EditProfileActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".views.main.restaurant.AllowReservation.AllowReservationDetail"
            android:windowSoftInputMode="stateHidden"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCScmOg2hONYOE9OrD0YaDW44p31RwxYPw" />
    </application>

</manifest>